
DS_Store
MiniChallenge2.xcodeproj/xcuserdata/jackieleonardy.xcuserdatad/xcschemes/xcschememanagement.plist
MiniChallenge2.xcodeproj/xcuserdata/handhar.xcuserdatad/xcschemes/xcschememanagement.plist
MiniChallenge2.xcodeproj/xcuserdata/celles.xcuserdatad/xcschemes/xcschememanagement.plist
MiniChallenge2.xcodeproj/xcuserdata/celles.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MiniChallenge2.xcodeproj/project.xcworkspace/xcuserdata/jackieleonardy.xcuserdatad/UserInterfaceState.xcuserstate
MiniChallenge2.xcodeproj/project.xcworkspace/xcuserdata/handhar.xcuserdatad/UserInterfaceState.xcuserstate
MiniChallenge2.xcodeproj/project.xcworkspace/xcuserdata/celles.xcuserdatad/UserInterfaceState.xcuserstate
MiniChallenge2.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
MiniChallenge2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MiniChallenge2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MiniChallenge2.xcodeproj/project.pbxproj
.DS_Store
